.header {
    
    margin: auto;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
  }
  
  .list {
    display: flex;
    gap: 1rem;
    justify-content: center;
   
  }
  
  .list a {
    text-decoration: none;
    color: var(--color-primary-400);
     background-color: rgb(0, 255, 47);
     padding: 0.5rem;
     border-radius:5px ;
  }
  
  .list a:hover,
  .list a.active {
   background-color: rgb(0, 0, 0);
   color: "#fff";
  }

  